@use '../../app.module.scss' as btn;

.btn {
  background-color: btn.$primary-gold;
  color: btn.$secondary-jet;
  padding: 1rem 2rem;
  border-radius: btn.$border-radius;
  border: none;
  font-family: btn.$body-font;
  font-size: 16pt;
  cursor: pointer;
  transition: btn.$transition;
  width: -moz-fit-content;
  width: fit-content;

  /* For large devices ≤ 576px */
  @media screen and (max-width: btn.$sm) {
    padding: 0.5rem 1rem;
    font-size: btn.$normal-font-size;
  }

  &:hover {
    background-color: btn.$secondary-jet;
    color: btn.$primary-gold;
  }
}
