@use '../../app.module.scss' as header;

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
  border-bottom: 1px solid header.$primary-feldgrau;

  /* For large devices ≥ 992px */
  // @media screen and (min-width: header.$lg) {
  //   border-bottom: 1px solid header.$primary-feldgrau;
  // }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
