@use '../../app.module.scss' as header;

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
