/* ========== GOOGLE FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap');

/* ========== VARIABLES SCSS ========== */

$border-radius: 10px;
$transition: all 400ms ease;

/* ========== Colors ========== */
$primary-feldgrau: #495e57;
$primary-gold: #f4ce14;

$secondary-atomic-tangerine: #ee9972;
$secondary-light-orange: #fbdabb;
$secondary-anti-flash-white: #edefee;
$secondary-jet: #333333;

$primary-accent: #e7eeec;
$secondary-accent: #fef4ec;

/* ========== DEVICE BREAKPOINTS ========== */
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 350px;

/* ========== Font and typography ========== */
$heading-font: 'Markazi Text', serif;
$body-font: 'Karla', sans-serif;

/* ========== Font weight ========== */
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/* .5rem = 8px = 6pt | 1rem = 16px = 12pt ... */
$big-font-size: 5.33rem;
$h1-font-size: 5.33rem;
$h2-font-size: 3.33rem;
$h3-font-size: 1.5rem;
$normal-font-size: 1.25rem;
$small-font-size: 1.1rem;
$smaller-font-size: 0.813rem;
$tiny-font-size: 0.625rem;

/* === Responsive typography === */

$big-font-size-lg: 3rem;
$h1-font-size-lg: 3.5rem;
$h2-font-size-lg: 2.25rem;
$h3-font-size-lg: 1rem;
$normal-font-size-lg: 0.88rem;
$small-font-size-lg: 0.813rem;
$smaller-font-size-lg: 0.75rem;

@media screen and (max-width: $sm) {
  $big-font-size: 2.25rem;
}

/* ========== GLOBALS ========== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  color: $secondary-jet;
}

input {
  font-family: $body-font;
  font-size: $small-font-size;
  color: $secondary-jet;
}

h1,
h2 {
  font-family: $heading-font;
}

/* pseudo-elements */
::placeholder {
  color: $secondary-jet;
  opacity: 1; /* Firefox */
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $secondary-jet;
}

/* pseudo-class */
:-ms-input-placeholder {
  color: $secondary-jet; /* Internet Explorer 10-11 */
}

::-ms-input-placeholder {
  color: $secondary-jet; /* Microsoft Edge */
}

/* layouts */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  /* For extra large devices ≤ 1200px */
  @media screen and (max-width: $xl) {
    max-width: 90%;
  }
}
