@use '../../app.module.scss' as footer;

.section {
  padding: 5rem 0;
  background-color: footer.$primary-accent;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /* For large devices ≤ 768px */
    @media screen and (max-width: footer.$md) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    .logo {
      img {
        width: 150px;
      }
    }

    .navigation {
    }

    .contact {
    }

    .socials {
    }

    h3 {
      margin-bottom: 1rem;
    }

    ul {
      li {
        cursor: pointer;

        &:not(:last-child) {
          padding-bottom: 1rem;
        }

        a {
          text-decoration: underline;

          &:hover {
            color: footer.$primary-gold;
          }
        }
      }
    }
  }
}
